@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes move-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes move-out-horizontal {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes move-in-horizontal {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

::view-transition-old(root) {
  animation: 0.8s ease both move-out !important;
}

::view-transition-new(root) {
  animation: 0.8s ease both move-in !important;
}

@media (max-width: 767px) {
  ::view-transition-old(root) {
    animation: 0.8s ease both move-out-horizontal !important;
  }

  ::view-transition-new(root) {
    animation: 0.8s ease both move-in-horizontal !important;
  }
}
